// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$background-color-page : #bfcfd8;
%inheritance {
    height: 100vh;
    min-height: 300px; 
}

 #pepe{
    font-family: monospace;
    background: $background-color-page;
}
.section-padding{
    padding: 100px 0;

}
.carousel-item{
    @extend %inheritance;
}

h5{
    font-size: 45px;
    text-transform: uppercase; 
    letter-spacing: 2px;
    margin-top: 25px;
}
.carousel-caption { 
    bottom: 220px;
    z-index: 2; 
    p {
        width: 60%; 
        margin: auto; 
        font-size: 18px; 
        line-height: 1.9; 
        
    }
}
.carousel-inner::before{
    content: '';
    position: absolute; 
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0; 
    background: rgb(0, 0, 0, 0.7); 
    z-index: 1;
}
.navbar-nav a{
    font-size: 15px; 
    text-transform: uppercase; 
    font-weight: 500; 
}
.navbar-light .navbar-brand{
    color: #000; 
    font-size: 25px; 
    text-transform: uppercase; 
    font-weight: 700; 
    letter-spacing: 2px; 
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
    color: #000; 
}
.navbar-light .navbar-nav .navbar-link{
    color: #000;
}
.w-100{
    height: 100vh; 
}
.services .card-body i{
    font-size: 50px; 
}
.team .card-body i{
    font-size: 20px;
}
.portafolio .card{
    box-shadow: 15px 15px 40px rgb(0, 0, 0, 0.15); 
}
.team .card{
    box-shadow: 15px 15px 40px rgb(0, 0, 0, 0.15);
}

/* responsive xd */



@media only scree and (min-width: 768px) and (max-width: 991px) {
    .carousel-caption{
        bottom: 370px; 
    }
    .carousel-caption p{
        width: 100px; 
    }
    .card{
        margin-bottom: 30px; 
    }
    .img-area img{
        width: 300%; 
    }
    
}

@media only sreen and (max-width: 767px){
    .navbar-nav{
        text-align: center; 
    }
    .carousel-caption{
        bottom: 125px; 
    }
    .carousel-caption { 
        h5 {
            font-size: 17px; 
        }
        a {
            padding: 10px 15px; 
        }
        p {
            width: 100px; 
            line-height: 1.6; 
            font-size: 12px; 
        }
    }
    
}